.container{
    text-align: center;
    margin-top:20px
}

table{
    margin: auto;
}

input{
    border-radius: 22px;
    border: 6px solid #D2691E;
    font-size:31px;
    height: 62px;
    width: 452px;
}

button{
    border-radius: 22px;
    font-size: 31px;
    background: #F0FFFF;
    width: 94px;
    height: 84px;
    margin: 7px;
}

.calculator{ 
    border: 5px solid #0000FF;
    background-color: #ddaefa;
    padding: 24px;
    border-radius: 54px;
    display: inline-block;
    
}

h1{
    font-size: 32px;
    font-family: 'Arial', Courier, monospace;
}